[submodule "lib/lovemachine"]
	path = lib/lovemachine
	url = https://github.com/Normangorman/lovemachine.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump.git
[submodule "lib/STI"]
	path = lib/STI
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "lib/Jumper"]
	path = lib/Jumper
	url = https://github.com/Yonaba/Jumper.git
